/AutomationTestingProject/.idea/compiler.xml
/AutomationTestingProject/.idea/jarRepositories.xml
/AutomationTestingProject/.idea/workspace.xml
/AutomationTestingProject/target/classes/org/example/Main.class
/AutomationTestingProject/target/classes/org/example/RegisterTests.class
